body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    overflow: hidden;

}

img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 500px;
    left: 380px;
}

.header {
    padding: 10px 20px;
    background-color: #007bff; /* Blue background for the header */
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.chat-container {
    width: 400px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px;

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #F5F5F5;
}

.footer {
    margin-top: auto;
    margin-bottom: 2px;
    gap: 10px;
    display: flex;
    justify-content: right;
}


#message {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1em;
    outline: none;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#send {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send:hover {
    background-color: #0056b3;
}



.chat-message {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 70%;
}

.chat-body {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-body::after {
    content: none;
}

.left {
    align-self: flex-start;
    background-color: #a69e9e;
}

.right {
    align-self: flex-end;
    background-color: #37acd5;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



